body {
  font-family: "martal sans";
  background-color: gray;
  color: white;
}

#Poem p {
  background-color: black;
  font-size: large;
  line-height: 1.7;
  /*text-align: center;*/
  padding: 1Rem ;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#author p {
  background-color: black;
  font-size: large;
  line-height: 1.7;
  text-align: center;
  padding: 1Rem ;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

 #Pic img {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
} 

main {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width:800px){
  main{
    grid-template-columns: 1fr 1fr;
  }
  #Pic {
    grid-column: 2;
    grid-row: 1;
  }
  #Poem{
    grid-column: 1;
    grid-row: 1;
  }
  #author{
    grid-column: 2;
    grid-row: 2;
  }
}